# *******************************************************************************
# Copyright (C) Altera Corporation
#
# This code and the related documents are Altera copyrighted materials and your
# use of them is governed by the express license under which they were provided to
# you ("License"). This code and the related documents are provided as is, with no
# express or implied warranties other than those that are expressly stated in the 
# License.
# *******************************************************************************/

[Unit]
Description=Omnitek Application
Requires=omnitek-modules.service
After=omnitek-modules.service

[Service]
Type=simple
ExecStart=/usr/bin/my_app_here

[Install]
WantedBy=multi-user.target
